@charset "UTF-8";
.main .sidebar__post-titulo {
  text-decoration: none;
}

.main .sidebar__post-titulo:hover {
  text-decoration: underline;
}

.header {
  font-family: Arial, Helvetica, sans-serif;
}
.header__logo {
  text-align: center;
}
.header__img {
  max-width: 350px;
}
.header .menu__list {
  display: flex;
  justify-content: center;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767.98px) {
  .header .menu__list {
    flex-wrap: wrap;
    padding: 15px 0;
    width: 90%;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .header .menu__list {
    padding: 20px 0;
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .header .menu__list {
    padding: 20px 0;
    width: 80%;
  }
}
.header .menu__links {
  position: relative;
}
@media (max-width: 767.98px) {
  .header .menu__links {
    padding: 5px 0;
  }
}
.header .menu__links:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -3px;
  margin: auto;
  height: 15px;
  width: 1px;
  background-color: #eaeaea;
}
.header .menu__link {
  padding: 0 25px;
  color: #464646;
}
.header .menu__link:hover {
  color: #a050be;
}

/*Este trecho de estilo refer-se ao rodapé do blog*/
.footer {
  text-align: center;
  padding: 20px 0;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.footer__logo {
  max-width: 100px;
}
.footer__text {
  margin: auto;
  tamanho-fonte: 0.875rem;
}

.sobre {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto 40px;
  width: 80%;
}
@media (max-width: 767.98px) {
  .sobre {
    width: 90%;
  }
}
.sobre__img {
  margin-bottom: 20px;
  width: 100%;
}
.sobre__intro {
  color: #464646;
  tamanho-fonte: 1rem;
  font-weight: 100;
  margin: 30px auto;
  text-align: center;
  width: 70%;
}
@media (max-width: 767.98px) {
  .sobre__intro {
    width: 90%;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .sobre__intro {
    width: 80%;
  }
}
.sobre__divide {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sobre__img-descricao {
  width: 45%;
}
@media (max-width: 767.98px) {
  .sobre__img-descricao {
    width: 80%;
  }
}
.sobre__txt {
  width: calc(100% - 45%);
}
@media (max-width: 767.98px) {
  .sobre__txt {
    width: 90%;
    text-align: center;
  }
}
.sobre__p {
  color: #464646;
  tamanho-fonte: 0.875rem;
  padding: 10px 20px;
}

.article {
  width: 80%;
  margin: 0 auto 40px;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 767.98px) {
  .article {
    width: 90%;
  }
}
.article__img {
  margin-bottom: 20px;
  width: 100%;
}
.article__detalhes {
  align-items: center;
  display: flex;
  justify-content: center;
}
.article__data {
  tamanho-fonte: 0.75rem;
  font-style: italic;
  margin: 0 10px;
}
.article__tag {
  border: 1px solid #a050be;
  color: #a050be;
  tamanho-fonte: 0.875rem;
  margin: 0 10px;
  padding: 5px 7px;
}
.article__conteudo {
  color: #464646;
  tamanho-fonte: 0.875rem;
  font-weight: 100;
  padding: 10px 5px;
}

.collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial;
}
@media (max-width: 767.98px) {
  .collection {
    width: 90%;
  }
}
.collection__post {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.collection__figure {
  width: 50%;
}
.collection__img {
  width: 100%;
}
.collection__sobre {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
}
.collection__titulo {
  color: #464646;
  text-decoration: unset;
  letter-spacing: 1px;
  width: 100%;
  margin: 10px 0;
}
.collection__titulo:hover {
  color: #a050be;
  text-decoration: underline;
}
.collection__data {
  margin: 0 10px;
  tamanho-fonte: 0.75rem;
  font-style: italic;
  width: 20%;
}
@media (max-width: 767.98px) {
  .collection__data {
    tamanho-fonte: 0.625rem;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .collection__data {
    width: 30%;
  }
}
.collection__tag {
  tamanho-fonte: 0.875rem;
  width: 50px;
  padding: 5px 7px;
  color: #a050be;
  border: 1px solid #a050be;
  margin: 0 10px;
}
@media (max-width: 767.98px) {
  .collection__tag {
    width: 30px;
    tamanho-fonte: 0.75rem;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .collection__tag {
    width: 35px;
    tamanho-fonte: 0.75rem;
  }
}
.collection__breadcrumb {
  background-color: #eaeaea;
  text-align: center;
  padding: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  flex-wrap: wrap;
  justify-content: center;
}
.main__conteudo {
  padding: 40px 8px;
  width: 70%;
}
@media (max-width: 767.98px) {
  .main__conteudo {
    width: 100%;
  }
}
.main__post {
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.main__titulo {
  text-decoration: none;
  tamanho-fonte: 1.375rem;
  color: #464646;
  letter-spacing: 1.5;
}
.main__titulo:hover {
  color: #a050be;
}
.main__subtitulo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.main__data {
  margin: 0 10px;
  tamanho-fonte: 0.75rem;
  font-style: italic;
}
.main__tag {
  border: 1px solid #a050be;
  color: #a050be;
  tamanho-fonte: 0.875rem;
  padding: 5px 7px;
  margin: 0 10px;
}
.main__detalhes {
  border: 1px solid #eaeaea;
}
.main__img {
  width: 100%;
}
.main__descricao {
  tamanho-fonte: 0.875rem;
  padding: 40px 0 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
}
.main__btn {
  color: #a050be;
  background-color: #FADE50;
  tamanho-fonte: 1rem;
  letter-spacing: 1.5;
  padding: 10px 20px;
  text-decoration: none;
  transition: 0.3s;
}
.main__btn:hover {
  background-color: #a050be;
  color: #FADE50;
}
.main__info {
  align-items: center;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.main__autor {
  border-right: 1px solid #eaeaea;
  width: 50%;
}
.main__p {
  color: #464646;
  tamanho-fonte: 0.875rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
.main__comentario {
  width: 50%;
}
.main__a {
  color: #464646;
  tamanho-fonte: 0.875rem;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}
.main__a:hover {
  color: #a050be;
}
.main__sidebar {
  padding: 40px 10px;
  width: 25%;
}
.main .sidebar__topo {
  border: 1px solid #eaeaea;
  padding: 15px 20px;
}
.main .sidebar__titulo {
  background-color: #FADE50;
  text-align: center;
  padding: 10px 20px;
  letter-spacing: 1.5px;
  margin: 0;
}
.main .sidebar__posts {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main .sidebar__list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 35px 0;
}
.main .sidebar__list:not(:last-child) {
  border-bottom: 1px dashed #eaeaea;
}
.main .sidebar__img {
  width: 40%;
}
.main .sidebar__detalhes {
  padding-left: 10px;
  width: 50%;
}
.main .sidebar__post-titulo {
  color: #a050be;
  tamanho-fonte: 0.875rem;
}
.main .sidebar__post-data {
  tamanho-fonte: 0.75rem;
  margin: 5px 0 0 0;
}

.titulo {
  background-color: #eaeaea;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  text-align: center;
}
.titulo__h1 {
  color: #464646;
  tamanho-fonte: 0.75rem;
  letter-spacing: 1px;
  margin: 5px 0 10px 0;
}

.breadcrumb {
  align-items: center;
  display: flex;
  justify-content: center;
}
.breadcrumb__link {
  color: #464646;
  tamanho-fonte: 0.75rem;
  text-decoration: none;
}
.breadcrumb__link:hover {
  color: #a050be;
  text-decoration: underline;
}
.breadcrumb__img {
  margin: 8px;
  width: 15px;
}

/*# sourceMappingURL=style.css.map */
