.article {
    @include phone {
        width: 90%;
    }

    width: 80%;
    margin: 0 auto 40px;
    font-family: Arial, Helvetica, sans-serif;

    &__img {
       margin-bottom: 20px;        
       width: 100%;
    }

    &__detalhes {
        align-items: center;
        @include flex(justify-content, center);
    }

    &__data {
        @include tamanhoFonte(12px);
        font-style: italic;
        margin: 0 10px;
    }

    &__tag {
        border: 1px solid $roxo;
        color: $roxo;
        @include tamanhoFonte(14px);
        margin: 0 10px;
        padding: 5px 7px;
    }

    &__conteudo {
        color: $cinzaEscuro;
        @include tamanhoFonte(14px);
        font-weight: 100;
        padding: 10px 5px;
    }
}