.sobre {
    @include phone {
        width: 90%;
    }

    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto 40px;
    width: 80%;

    &__img {
        margin-bottom: 20px;
        width: 100%;
    }

    &__intro {
        color: $cinzaEscuro;
        @include tamanhoFonte(16px);
        font-weight: 100;
        margin: 30px auto;
        text-align: center;
        width: 70%;

        @include phone {
            width: 90%;
        }

        @include tablet {
            width: 80%;
        }
    }

    &__divide {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__img-descricao {
        width: $tamanho-img;
        @include phone {
            width: 80%;
        }

    }

    &__txt {
        width: calc(100% - #{$tamanho-img});
        @include phone {
            width: 90%;
            text-align: center;
        }

    }

    &__p {
        color: $cinzaEscuro;
        @include tamanhoFonte(14px);
        padding: 10px 20px;
    }
}